<div class="container">
    <section>
        <div class="content">
            <div class="row mb-5 ">
                <h2>Elija un sub-módulo de gestión interna</h2>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card-section border rounded p-3 bg-white">
                                <div class="header-color-parametros card-header-style-within rounded pb-5">
                                    <h2 class="card-header-title text-white text-center pt-3">Parámetros</h2>
                                </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Agregar parámetros</h5>
                                <p class="card-text">Módulo de gestión de parámetros. El administrador podrá agregar áreas,categorías,sub-categorías, y otros elementos de gestión.</p>
                                <a class="btn btn-color-parametros card-btn text-decoration-none" routerLink='parametros'>Continuar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card-section border rounded p-3 bg-white">
                                <div class="header-color-inventario card-header-style-within rounded pb-5">
                                    <h2 class="card-header-title text-white text-center pt-3">Inventario</h2>
                                </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Administración de inventario</h5>
                                <p class="card-text">Módulo de gestión de inventario. El administrador podrá realizar todas las operaciones exclusivamente administrativas referentes al inventario de la empresa.</p>
                                <a class="btn btn-color-inventario card-btn text-decoration-none" routerLink='gestion-inv'>Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

