/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  margin-top: 90px;
  background: url('fondo.svg') no-repeat;
  background-size: cover;
  background-color: cadetblue;
}

input.ng-invalid.ng-touched,  select.ng-invalid.ng-touched{
  border: 1.5px solid red;
}
/*EFECTO DE FILAS DE TABLA*/
.linea-tabla:hover{
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
/*EFECTO DE BOTONES DE MENU*/
.cool-btn:hover{
  transform: translateY(-6px);
  transition: all 0.3s;
}