<div class="container">
<section>
    <div class="content">
        <div class="row mb-5 ">
            <h2>Elija un sub-módulo de administración</h2>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card-section border rounded p-3 bg-white">
                            <div class="header-color-empleados card-header-style-within rounded pb-5">
                                <h2 class="card-header-title text-white text-center pt-3">Empleados</h2>
                            </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Lista de empleados</h5>
                            <p class="card-text">Módulo de gestión de empleados. El administrador podrá realizar todas las operaciones referentes a la gestion del personal de la empresa.</p>
                            <a class="btn btn-color-empleados card-btn text-decoration-none" routerLink='empleados'>Continuar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card-section border rounded p-3 bg-white">
                            <div class="header-color-proximamente card-header-style-within rounded pb-5">
                                <h2 class="card-header-title text-white text-center pt-3">Próximamente</h2>
                            </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Próximamente</h5>
                            <p class="card-text">En construcción.</p>
                            <a class="btn btn-color-proximamente text-decoration-none" disabled >Deshabilitado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

