/*ESTILOS DE SECCIONES LOCALES*/
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 110px;
}
section .content h2{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 4em;
}

/*ESTILOS DE HEADERS DE CARDS LOCALES*/
.header-color-empleados{
    background: linear-gradient(-90deg, #0f20bd, #3599db);
}
.header-color-proximamente{
    background: linear-gradient(-90deg, #464545, #636363);
}

/*ESTILOS DE BOTONES DE CARDS LOCALES*/
.btn-color-empleados{
    background: linear-gradient(-90deg, #0f20bd, #3599db);
    color: aliceblue;
    border: none;
}
.btn-color-proximamente{
    background: linear-gradient(-90deg, #464545, #636363);
    color: aliceblue;
    border: none;
}