/*ESTILOS DE SECCIONES LOCALES*/
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 110px;
}
section .content h2{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 4em;
}

/*ESTILOS DE HEADERS DE CARDS LOCALES*/
.header-color-inventario{
    background: linear-gradient(-90deg, #026918, #51d17b );
}
.header-color-administrador{
    background: linear-gradient(-90deg, #2040f3, #41a9ee );
}
.header-color-procura{
    background: linear-gradient(-90deg, #c03131, #fcb860 );
}

/*ESTILOS DE BOTONES DE CARDS LOCALES*/
.btn-color-inventario{
    background: linear-gradient(-90deg, #026918, #51d17b );
    color: aliceblue;
    border: none;
}
.btn-color-administrador{
    background: linear-gradient(-90deg, #2040f3, #41a9ee );
    color: aliceblue;
    border: none;
}
.btn-color-procura{
    background: linear-gradient(-90deg, #c03131, #fcb860 );
    color: aliceblue;
    border: none;
}