<div class="container">
  <div class="row mb-5 mt-5">
    <h1>Bienvenido, selecciona el módulo al que deseas acceder:</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card bg-success shadow p-2 p-lg-5">
        <a class="stretched-link text-decoration-none" routerLink='/inventario' ><h3 class="text-white">Inventario</h3></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-primary shadow p-2 p-lg-5">
        <a class="stretched-link text-decoration-none" routerLink='/administrador'><h3 class="text-white">Administrador</h3></a>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-danger shadow p-2 p-lg-5">
        <a class="stretched-link text-decoration-none" routerLink='/proveedores'><h3 class="text-white">Procura</h3></a>
      </div>
    </div>
  </div>
</div>
