<div class="container">
  <section>
    <div class="content">
        <div class="row mb-5 ">
            <h2>Bienvenido, seleccione el módulo al que desee acceder</h2>
        </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card-section border rounded p-3 bg-white">
              <div class="card-header-style-within header-color-inventario rounded pb-5">
                <h2 class="card-header-title text-white text-center pt-3">Inventario</h2>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Módulo de gestión de inventario</h5>
                  <p class="card-text">El usuario podrá realizar todas las <br> acciones referentes a los procesos de <br> gestión de inventario.</p>
                  <a class="btn btn-color-inventario card-btn text-decoration-none" routerLink='/inventario'>Continuar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card-section border rounded p-3 bg-white">
              <div class="card-header-style-within header-color-administrador rounded pb-5">
                <h2 class="card-header-title text-white text-center pt-3">Administrador</h2>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Módulo de administración</h5>
                  <p class="card-text">El usuario podrá realizar todas las <br>acciones referentes a los procesos de <br> administracion del sistema.</p>
                  <a class="btn btn-color-administrador card-btn text-decoration-none" routerLink='/administrador'>Continuar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card-section border rounded p-3 bg-white">
              <div class="card-header-style-within header-color-procura rounded pb-5">
                <h2 class="card-header-title text-white text-center pt-3">Procura</h2>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Módulo de procura</h5>
                  <p class="card-text">El usuario podrá realizar todas las acciones referentes a los procesos de <br> abastecimientos de la empresa.</p>
                  <a class="btn btn-color-procura card-btn text-decoration-none" routerLink='/proveedores'>Continuar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
