<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <a class="navbar-brand ps-5" href="#">
      <img src="../../../assets/logo.svg" alt="Logo" class="img-fluid me-2" style="max-width: 50px; width: 100%; margin: 0; padding: 0">
      <strong> GrupoCDV</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item ms-5" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/menu"> <fa-icon [icon]="faHome"></fa-icon> Menú <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="d-flex">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown me-3" *ngIf="isAuthenticated">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownInventario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faWarehouse"></fa-icon> Inventario
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownInventario">
                <li><a class="dropdown-item" routerLink="/inventario"><fa-icon [icon]="faWarehouse"></fa-icon> Inventario</a></li>
                <li><a class="dropdown-item" routerLink="/inventario/ingresos"><fa-icon [icon]="faSignInAlt"></fa-icon>  Ingresos</a></li>
                <li><a class="dropdown-item" routerLink="/inventario/egresos"><fa-icon [icon]="faSignOutAlt"></fa-icon>  Egresos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown me-3" *ngIf="isAuthenticated">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faStore"></fa-icon> Procura
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/procura/proveedores"><fa-icon [icon]="faStore"></fa-icon> Proveedores</a></li>
                <li><a class="dropdown-item" routerLink="/procura/productos"><fa-icon [icon]="faHammer"></fa-icon> Productos</a></li>
                <!-- <li><a class="dropdown-item" href="#">Pedidos</a></li> -->
              </ul>
            </li>

            <li class="nav-item dropdown me-3" *ngIf="isAuthenticated">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faUsersCog"></fa-icon> Administrador
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/administrador/empleados"><fa-icon [icon]="faUsers"></fa-icon> Personal</a></li>
              </ul>
            </li>

            <li class="nav-item me-2" *ngIf="isAuthenticated && router.url.includes('administrador')">
              <a class="nav-link" routerLink="/administrador"> <fa-icon [icon]="faSignOutAlt"></fa-icon> Menú Administrador</a>
            </li>
            <li class="nav-item me-2" *ngIf="isAuthenticated && router.url.includes('procura')">
              <a class="nav-link" routerLink="/procura"> <fa-icon [icon]="faSignOutAlt"></fa-icon> Menú Procura</a>
            </li>
            <li class="nav-item dropdown mx-5 pe-5" *ngIf="isAuthenticated">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <fa-icon [icon]="faUser"></fa-icon> Usuario
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a role="button" class="dropdown-item" (click)='alPerfil()'>Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a role="button" class="dropdown-item" (click)='onLogout()'>Cerrar Sesión</a></li>
              </ul>
            </li>
        </ul>
    </div>
    </div>
  </div>
</nav>
