<div class="container">
  <button data-bs-toggle="modal" data-bs-target="#pdfIngresos" class="btn btn-primary float-right">Exportar a PDF</button>
  <div class="row">
    <h1>Ingresos</h1>
  </div>
  <div class="row">
    <!--Tabla de inventario en donde se muestra el inventario general-->
      <table class="table shadow table-striped">
        <thead data-html2canvas-ignore class="thead bg-primary text-white">
          <tr>
            <th scope="col"><input #filtroNombre="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por nombre"></th>
            <th scope="col">
              <select #filtroCategoria="ngModel" class="form-select form-select-sm" ngModel name="filtroCategoria">
              <option value="">Categoría (Todas)</option>
              <option *ngFor="let cat of categorias" [value]="cat.nombre">{{ cat.nombre }}</option>
              </select>
            </th>
            <th></th>
            <th colspan="3">
              <div class="row">
                <div class="col">Desde:</div>
                <!--FILTRO POR FECHAS DE TABLA DE INGRESOS-->
                <div class="col">
                  <input [(ngModel)]="fechaDesde"
                  (change)="changeFirstInput($event)"
                  class="form-control form-control-sm" type="date" value=""
                  name="fechaDesde"></div>
                <div class="col-2">Hasta:</div>
                <div class="col"><input [(ngModel)]="fechaHasta" class="form-control form-control-sm" type="date" [value]="fechaHasta" name="fechaHasta"></div>
              </div>
            </th>
            <th scope="col">
              <select #filtroModalidad="ngModel" class="form-select form-select-sm" ngModel name="filtroModalidad">
              <option value="">Modalidad (Todas)</option>
              <option *ngFor="let mod of modalidades" [value]="mod.nombre">{{ mod.nombre }}</option>
              </select>
            </th>
          </tr>
        </thead>
        <thead class="thead bg-primary text-white">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Responsable</th>
            <th scope="col">Modalidad</th>
          </tr>
        </thead>

        <tbody>
        <!--FILTROS DE LA TABLA DE INGRESOS-->
          <ng-container *ngFor="let ingreso of ingresos">
            <tr *ngIf="(ingreso.nombre.toLocaleLowerCase().includes(filtroNombre.value.toLowerCase()) || filtroNombre.value == '')
            &&
            (ingreso.categoria == filtroCategoria.value || filtroCategoria.value == '')
            &&
            (ingreso.modalidad.toLocaleLowerCase().includes(filtroModalidad.value.toLowerCase()) || filtroModalidad.value == '')
            "scope="row" class="bg-light linea-tabla">
              <td>{{ ingreso.nombre | titlecase }}</td>
              <td>{{ ingreso.categoria }}</td>
              <td>{{ ingreso.cantidad }} {{ ingreso.unidad }}</td>
              <td>
                <div *ngIf="ingreso.precio != null && ingreso.precio != 0 && ingreso.modalidad != 'Reingreso'; else sinPrecio">
                  {{ ingreso.precio | currency }}
                </div>
                <!-- NG-TEMPLATE SE USA PARA ENGLOBAR EL BLOQUE ELSE DE UN NGIF -->
                <ng-template #sinPrecio>
                  N/A
                </ng-template>
              </td>
              <td>{{ ingreso.fecha | date:'dd-MM-yyyy h:m a'}}</td>
              <td>{{ ingreso.responsable }}</td>
              <td>{{ ingreso.modalidad }}</td>
            </tr>
          </ng-container>
        </tbody>
    </table>
  </div>
</div>


<!-- MODAL PDF -->
<div class="modal fade" id="pdfIngresos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exportar a PDF</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-header">
        <button type="button" (click)="descargarPDF()" class="btn btn-primary">Exportar</button>
      </div>
      <div class="modal-body" id='elemento-a-exportar'>
        <!-- <img src="../../../assets/logo.svg" alt="Logo" class="img-fluid" style="max-width: 75px; width: 100%; margin: 0; padding: 0"> -->
        <div class="row">
          <h4>Ingresos</h4>
        </div>
        <div class="row">
          <!--Tabla de inventario en donde se muestra el inventario general-->
            <table class="table table-sm letras">
              <thead class="thead bg-primary text-white">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Responsable</th>
                  <th scope="col">Modalidad</th>
                  <th scope="col">Fecha Ingreso</th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let ingreso of ingresos">
                  <tr>
                    <td>{{ ingreso.nombre | titlecase }}</td>
                    <td>{{ ingreso.categoria }}</td>
                    <td>{{ ingreso.cantidad }} {{ ingreso.unidad }}</td>
                    <td>
                      <div *ngIf="ingreso.precio != null && ingreso.precio != 0 && ingreso.modalidad != 'Reingreso'; else sinPrecio">
                        {{ ingreso.precio | currency }}
                      </div>
                      <!-- NG-TEMPLATE SE USA PARA ENGLOBAR EL BLOQUE ELSE DE UN NGIF -->
                      <ng-template #sinPrecio>
                        N/A
                      </ng-template>
                    </td>
                    <td>{{ ingreso.responsable }}</td>
                    <td>{{ ingreso.modalidad }}</td>
                    <td>{{ ingreso.fecha | date:'short'}}</td>
                  </tr>
                </ng-container>
              </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
