.margen-superior {
    margin-top: 120px;
}
.thead-custom{
    margin-top: -40px;
    height: 120px;
    background: linear-gradient(-200deg, #232841, #61677c);
    box-shadow: 1px 5px 15px #a2a2a2;
}
.letras {
    font-size: 12px;
    line-height: 1.5;
}