
<div class="container-fluid mt-lg-3">
    <!--BOTONES PARA GESTIONAR PROVEEDORES-->
    <div class="row px-4">
        <div class="col-3">
            <h1>Proveedores</h1>
        </div>
        <div class="col-9 mt-lg-3">
            <div class="btn-group float-end" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-success" routerLink='agregar'>
                    <fa-icon [icon]="faPlusCircle"></fa-icon> Agregar
                </button>
                <button type="button" class="btn btn-primary text-white" routerLink='modificar'>
                    <fa-icon [icon]="faPencilAlt"></fa-icon> Modificar
                </button>
                <button data-bs-toggle="modal" hidden class="btn btn-secondary float-right">
                    Exportar a PDF
                </button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row px-4">
    <!--TABLA DE PROVEEDORES-->
    <div class="table-responsive-md mt-lg-3">
        <table class="table table-sm shadow table-striped">
        <thead class="table-dark">
            <tr>
                <!--FILTROS TABLA DE PROVEEDORES-->
                <th scope="col">
                    <input #filtroNombre="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por nombre">
                </th>
                <th scope="col">
                    <select #filtroArea="ngModel" class="form-select form-select-sm" ngModel name="filtroArea">
                    <option value="">Area (Todas)</option>
                    <option [value]="area.nombre" *ngFor="let area of areas">{{ area.nombre }}</option>
                    </select>
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Área</th>
                <th scope="col">RIF</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Contacto</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody>
            <ng-container *ngFor="let proveedor of proveedores">
            <!--FILTROS DE TABLA DE PROVEEDORES-->
                <tr
                class="bg-light table-sm linea-tabla"
                scope="row"
                *ngIf="(
                        (proveedor.nombre.toLocaleLowerCase().includes(filtroNombre.value.toLowerCase()) || filtroNombre.value == '')
                        &&
                        (proveedor.area.toLocaleLowerCase().includes(filtroArea.value.toLowerCase()) || filtroArea.value == ''))">
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.area }}</td>
                    <td>{{ proveedor.rif }}</td>
                    <td>{{ proveedor.correo }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.contacto }}</td>
                    <td>
                        <!--BOTONES DE DETALLES, MODIFICAR Y ELIMINACION-->
                        <div class="btn-group">
                            <button type="button" (click)="asignarDetalles(proveedor)" class="btn btn-info text-white btn-sm" data-bs-toggle="modal" data-bs-target="#modalInfo">
                                <fa-icon [icon]="faInfoCircle"></fa-icon>  Detalles
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" disabled data-bs-target="#modalEliminar">
                                <fa-icon [icon]="faListAlt"></fa-icon>  Productos
                            </button>
                            <button type="button" (click)="asignarBorrar(proveedor.id, proveedor.nombre)" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEliminar">
                                <fa-icon [icon]="faTrashAlt"></fa-icon>  Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    </div>
    </div>
</div>


<!-- MODAL DE INFO PROVEEDOR -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header bg-info">
        <h5 class="modal-title text-white" id="exampleModalLabel"><strong>{{ datosInfo.nombre }}</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <table class="table table-sm">
        <tbody>
            <tr>
                <th>ID</th>
                <td></td>
                <td>{{ datosInfo.id }}</td>
            </tr>
            <tr>
                <th>Área</th>
                <td></td>
                <td>{{ datosInfo.area }}</td>
            </tr>
            <tr>
            <tr>
                <th>RIF</th>
                <td></td>
                <td>{{ datosInfo.rif }}</td>
            </tr>
            <tr *ngIf="datosInfo.correo != null">
                <th>Correo</th>
                <td></td>
                <td>{{ datosInfo.correo }}</td>
            </tr>
            <tr *ngIf="datosInfo.telefono != null">
                <th>Teléfono</th>
                <td></td>
                <td>{{ datosInfo.telefono }}</td>
            </tr>
            <tr *ngIf="datosInfo.contacto != null">
                <th>Contacto</th>
                <td></td>
                <td>{{ datosInfo.contacto }}</td>
            </tr>
            <tr *ngIf="datosInfo.direccion != null">
                <th>Dirección</th>
                <td></td>
                <td>{{ datosInfo.direccion }}</td>
            </tr>
            <tr *ngIf="datosInfo.descripcion != null">
                <th>Descripcion</th>
                <td></td>
                <td>{{ datosInfo.descripcion | lowercase}}</td>
            </tr>
            <tr><th></th><td></td><td></td></tr>
        </tbody>
    </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <fa-icon [icon]="faTimesCircle"></fa-icon> Cerrar
        </button>
    </div>
    </div>
</div>
</div>
<!-- FIN DEL MODAL INFO PROVEEDOR -->

<!-- INICIO MODAL ELIMINAR PROVEEDOR -->
<div class="modal" tabindex="-1" id="modalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header bg-danger">
            <h5 class="modal-title text-white">Eliminar Proveedor</h5>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro que deseas eliminar <strong>{{ proveedorBorrar.nombre }}</strong>?. <br> <br> <span class="text-danger">Esta acción es irreversible.</span></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <fa-icon [icon]="faTimesCircle"></fa-icon> Cancelar
            </button>
            <button (click)="eliminarProveedor()" data-bs-dismiss="modal" type="button" class="btn btn-danger">
                <fa-icon [icon]="faTrashAlt"></fa-icon> Eliminar
            </button>
        </div>
        </div>
    </div>
</div>
<!-- FIN MODAL ELIMINAR PROVEEDOR -->