
<div class="container">

<!--Botones de ingreso y reingreso de productos-->
<div class="row mb-2">
  <div class="col">
    <div class="btn-group">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalIngreso">Ingreso</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalReingreso">Reingreso</button>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalEgreso">Egreso</button>
    </div>
  </div>
</div>

<div class="row">
  <!--Tabla de inventario en donde se muestra el inventario general-->
    <table class="table shadow">
      <thead class="thead-dark">
        <tr>
          <!--Filtro por nombre de Inventario, busca el item que haga match-->
          <th scope="col"><input class="w-75 form-control form-control-sm" [(ngModel)]="filtroNombre" type="text" placeholder="Filtro por nombre"></th>
          <th scope="col">
            <!-- <select placeholder="Categoria" class="form-control form-control-sm" name="">
              <option value="Prueba">Prueba</option>
            </select> -->
          </th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Categoría</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Estado</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <!--NgFor que imprime inventario de base de datos (itemsInventario), este a su vez compara con el Filtro por nombre en minusculas-->
        <ng-container *ngFor="let item of inventario">
          <tr  scope="row" *ngIf="item.nombre.toLocaleLowerCase().includes(filtroNombre.toLowerCase())" class="bg-light">
            <td>{{ item.nombre }}</td>
            <td>{{ item.tipo }}</td>
            <td><span [ngClass]="{'text-danger': item.estado=='En Obra'}">{{ item.cantidad }} {{ item.unidades }}</span></td>
            <td>{{ item.ubicacion }}</td>
            <td [ngClass]="{'text-success': item.estado=='Disponible',
                            'text-danger': item.estado=='Dañado',
                            'text-info': item.estado=='En Obra'}">{{ item.estado }}</td>
            <td>
              <button class="btn btn-info btn-sm">Detalles</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
  </table>


</div>
  </div>



<!-- Modal Ingreso-->
<div class="modal fade" id="modalIngreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-ingreso></app-ingreso>
</div>
<!-- Modal Reingreso-->
<div class="modal fade" id="modalReingreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-reingreso></app-reingreso>
</div>
<!-- Modal Egreso-->
<div class="modal fade" id="modalEgreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-egreso></app-egreso>
</div>
