
<div class="container">
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalIngreso">Ingreso</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalReingreso">Reingreso</button>



  <table class="table shadow">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estado</th>
        <th scope="col">Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col"><input [(ngModel)]="filtroNombre" type="text" placeholder="Filtro por nombre"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    <ng-container *ngFor="let item of inventario">
      <tr scope="row" *ngIf="item.nombre.toLocaleLowerCase().includes(filtroNombre.toLowerCase())" class="bg-light">
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.tipo }}</td>
        <td> VACIO </td>
        <td>{{ item.cantidad }}</td>
        <td>
          <button class="btn btn-info btn-sm">Detalles</button>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="modalIngreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-ingreso></app-ingreso>
</div>

<div class="modal fade" id="modalReingreso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-reingreso></app-reingreso>
</div>
