<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!--Modal de ingreso de producto-->
    <div class="modal-header bg-success text-white">
      <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
      <button type="button" class="close text-white" data-dismiss="modal" (click)='cerrarModal()' aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form #f="ngForm">
      <div class="modal-body" *ngFor="let item of nuevosItems; let i = index" [ngClass]="{'color-contraste': i%2 != 0}">
          <h3>Item {{i+1}}</h3>
          <div class="form-check">
            <input #itemExistente="ngModel" class="form-check-input" type="checkbox" [(ngModel)]='itemExistenteVar[i]' [name]="'checkboxExistente' + [i]" >
            <label class="form-check-label" for="defaultCheck1">
              <strong>Item Existente</strong>
            </label>
          </div>
            <!--Nombre de producto-->
            <div *ngIf="!itemExistenteVar[i]" class="form-group">
            <div class="row">
              <div class="col-4">
                  <label>Nombre</label>
                  <input #nombre="ngModel" required type="text" [(ngModel)]="nuevosItems[i].nombre" [name]="'nombre' + [i]" class="form-control">
                  <small *ngIf="!nombre.valid && nombre.touched" class="text-danger">Ingrese un nombre.</small>
              </div>
              <div class="col-3">
                <!--Label y Select del tipo de producto-->
                <label for="exampleFormControlSelect1">Categoría</label>
                <select #cat="ngModel" #cat[i]="ngModel" required class="form-control" [(ngModel)]="nuevosItems[i].categoria" [name]="'cat' + [i]">
                  <option *ngFor="let categoria of categorias" value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                </select>
                <small *ngIf="!cat.valid && cat.touched" class="text-danger">Ingrese una categoria.</small>
              </div>
              <div class="col-3">
                <!--Label y Select del tipo de producto-->
                <label for="exampleFormControlSelect1">Subcategoría</label>
                <select #subcat="ngModel" #subcat[i]="ngModel" class="form-control" [(ngModel)]="nuevosItems[i].subcategoria" [name]="'subcat' + [i]">
                  <option *ngFor="let subcategoria of subcategorias" value="{{ subcategoria.id }}">{{ subcategoria.nombre }}</option>
                </select>
              </div>
              <div class="col-2">
                <label>Serial</label>
                <input type="text" [(ngModel)]="nuevosItems[i].serial" [name]="'serial' + [i]" class="form-control" aria-describedby="emailHelp">
              </div>
            </div>

          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label>Precio</label>
                <div class="input-group">
                <input onkeypress="return event.charCode >= 46" min="0"  type="number" [(ngModel)]="nuevosItems[i].precio" [name]="'precio' + [i]" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1">$</span>
                </div>
                </div>
              </div>
              <div class="col-4">
                <!--Cantidad de producto-->
                <label for="exampleInputPassword1">Cantidad y Unidades</label>
                <div class="input-group">
                  <input
                    onkeypress="return event.charCode >= 46"
                    min="1"
                    #cantidad="ngModel"
                    required
                    type="number"
                    [(ngModel)]="nuevosItems[i].cantidad"
                    [name]="'cantidad' + [i]"
                    class="form-control"
                    (keyup)='revisarCantidad()'>
                  <select #unidadX="ngModel" required type="text" placeholder="0" [(ngModel)]="nuevosItems[i].unidades" [name]="'unidades' + [i]" class="form-control">
                    <option *ngFor="let unidad of unidades" value="{{ unidad.id }}">{{ unidad.nombre }}</option>
                  </select>
                </div>
                <small *ngIf="!cantidad.valid && cantidad.touched" class="text-danger">Ingrese una cantidad.<br></small>
                <small *ngIf="!unidadX.valid && unidadX.touched" class="text-danger">Ingrese una unidad.</small>
              </div>
              <div class="col-5">
                <label>Ubicación en almacén</label>
                <select type="text" [(ngModel)]="nuevosItems[i].ubicacion" [name]="'ubicacion' + [i]" class="form-control" aria-describedby="emailHelp">
                  <option *ngFor="let ubicacion of ubicaciones" value="{{ ubicacion.id }}">{{ ubicacion.nombre }}</option>
                </select>
              </div>

            </div>
            <div class="row">
              <div class="col-3">
                <!--Condicion para colocar fecha de vencimiento (Producto o consumible unicamente)-->
                <div class="form-group">
                  <label>Vencimiento</label>
                  <input class="form-control" [(ngModel)]="nuevosItems[i].vencimiento" [name]="'vencimiento' + [i]" type="date">
              </div>
              <div class="col-3">
                <!--Condicion para colocar fecha de vencimiento (Producto o consumible unicamente)-->
                <div class="form-group">
                  <label>Descripción</label>
                  <input class="form-control" >
              </div>
              </div>
            </div>
            </div>
          </div>
            </div>







            <!-- INICIO DEL FORM DE ITEM EXISTENTE -->
            <div *ngIf="itemExistenteVar[i]">
            <div class="form-group">
            <div class="row">
              <div class="col-3">
                <!--Label y Select del tipo de producto-->
                <label for="exampleFormControlSelect1">Categoría</label>
                <select (change)='restablecerCantidad(i);' #cat="ngModel" #cat[i]="ngModel" required class="form-control" [(ngModel)]="nuevosItems[i].tipo" [name]="'cat' + [i]">
                  <ng-container *ngFor="let categoria of categorias">
                    <option *ngIf="categoria.nombre != 'Herramienta'" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                  </ng-container>

                </select>
                <small *ngIf="!cat.valid && cat.touched" class="text-danger">Ingrese una categoria.</small>
              </div>
              <div class="col-3">
                <label>Nombre</label>
                <select #nombre="ngModel" required type="text" [(ngModel)]="nuevosItems[i].nombre" [name]="'nombre' + [i]" class="form-control">
                  <ng-container *ngFor="let item of inventario">
                    <option *ngIf="item.tipo == cat.value" value="{{ item.id }}">{{ item.nombre }}</option>
                  </ng-container>
                </select>
                  <small *ngIf="!nombre.valid && nombre.touched" class="text-danger">Seleccione un nombre.</small>
              </div>

              <div class="col-4">
                <!--Cantidad de producto-->
                <label for="exampleInputPassword1">Cantidad y Unidades</label>
                <div class="input-group">
                  <input
                    onkeypress="return event.charCode >= 46"
                    min="1"
                    #cantidad="ngModel"
                    required
                    type="number"
                    [(ngModel)]="nuevosItems[i].cantidad"
                    [name]="'cantidad' + [i]"
                    class="form-control"
                    (keyup)='revisarCantidad()'>
                    <input *ngIf="nombre.value != undefined" [placeholder]="regresarItem(nombre.value).unidades" disabled type="text" ngModel [name]="'unidades' + [i]" class="form-control">
                  <!-- <select disabled #unidadX="ngModel" required type="text" placeholder="0" ngModel [name]="'unidades' + [i]" class="form-control">
                    <option *ngIf="nombre.value != undefined">{{ regresarItem(nombre.value).unidades }}</option>
                  </select> -->
                </div>
                <small *ngIf="!cantidad.valid && cantidad.touched" class="text-danger">Ingrese una cantidad.<br></small>
              </div>
              <div class="col-2">
                <label>Precio</label>
                <div class="input-group">
                <input onkeypress="return event.charCode >= 46" min="0"  type="number" [(ngModel)]="nuevosItems[i].precio" [name]="'precio' + [i]" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1">$</span>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>

    <!--Footer de Modal con botones de cerrar e ingresar-->
    <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="agregarItem()">
            <fa-icon [icon]="faPlusCircle"></fa-icon> Más Items
          </button>
          <button type="button" [hidden]="nuevosItems.length == 1" class="btn btn-secondary" [disabled]="nuevosItems.length == 1" (click)="restarItem()">
            <fa-icon [icon]="faMinusCircle"></fa-icon> Menos Items
          </button>
        </div>
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-dismiss="modal">
          <fa-icon [icon]="faTimesCircle"></fa-icon> Cerrar
        </button>
        <!-- !f.valid significa cuando el form no sea valido -->
        <button [disabled]='!f.valid || !valido' data-dismiss="modal" type="button" class="btn btn-success" (click)="onSubmit()">
          <fa-icon [icon]="faSignInAlt"></fa-icon> Ingresar
      </button>
    </div>
    </form>

  </div>
</div>
