<div class="container">
    <section>
        <div class="content">
            <div class="row mb-5 ">
                <h2>Elige un sub-módulo de procura</h2>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card-section border rounded p-3 bg-white">
                                <div class="card-header-style-within header-color-proveedores rounded pb-5">
                                    <h2 class="card-header-title text-white text-center pt-3">Proveedores</h2>
                                </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Lista de proveedores</h5>
                                <p class="card-text">Módulo de gestión de proveedores. El usuario podrá agregar, modificar, eliminar y observar los detalles de cada uno de los proveedores de manera individual.</p>
                                <a class="btn btn-color-proveedores card-btn text-decoration-none" routerLink='proveedores'>Continuar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card-section border rounded p-3 bg-white">
                                <div class="card-header-style-within header-color-productos rounded pb-5">
                                    <h2 class="card-header-title text-white text-center pt-3">Productos</h2>
                                </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">Lista de productos</h5>
                                <p class="card-text">Módulo de gestión de productos. El usuario podrá agregar, modificar, eliminar y observar los detalles de cada uno de los productos de manera individual.</p>
                                <a class="btn btn-color-productos card-btn text-decoration-none" routerLink='productos'>Continuar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


