<div class="container">
  <div class="row">
    <!--Tabla de inventario en donde se muestra el inventario general-->
      <table class="table shadow">
        <!-- <thead class="thead-dark">
          <tr>
            <th scope="col"><input class="w-75 form-control form-control-sm" [(ngModel)]="filtroNombre" type="text" placeholder="Filtro por nombre"></th>
            <th scope="col">
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead> -->
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Responsable</th>
          </tr>
        </thead>

        <tbody>
        <!--NgFor que imprime inventario de base de datos (itemsInventario), este a su vez compara con el Filtro por nombre en minusculas-->
          <ng-container *ngFor="let ingreso of ingresos">
            <!-- *ngIf="item.nombre.toLocaleLowerCase().includes(filtroNombre.toLowerCase())" -->
            <tr scope="row" class="bg-light">
              <td>{{ inventario[regresarIndice(ingreso.idItem)].nombre }}</td>
              <td>{{ inventario[regresarIndice(ingreso.idItem)].tipo }}</td>
              <td>{{ ingreso.cantidad }}</td>
              <td>{{ ingreso.precio }}</td>
              <td>{{ ingreso.fecha | date:'short'}}</td>
              <td>{{ ingreso.IdUsuario }}</td>
            </tr>
          </ng-container>
        </tbody>
    </table>


  </div>
</div>


