<div class="container">
    <div class="row">
        <h1>Egresos</h1>
    </div>
    <div class="row">
        <!--Tabla de inventario en donde se muestran los egresos generales-->
        <table class="table shadow">
        <!--FILTROS DE LA TABLA DE EGRESOS-->
        <thead class="thead bg-warning text-white">
            <tr>
            <th scope="col"><input #filtroNombre="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por nombre"></th>
            <th scope="col">
                <select #filtroCategoria="ngModel" class="form-control form-control-sm" ngModel name="filtroCategoria">
                <option value="">Categoría (Todas)</option>
                <option *ngFor="let cat of categorias" [value]="cat.nombre">{{ cat.nombre }}</option>
                </select>
            </th>
            <th scope="col"></th>
            <th scope="col"><input #filtroObra="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por obra"></th>
            <th scope="col"><input #filtroResponsable="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por responsable"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <thead class="thead bg-warning">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Obra</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha de Egreso</th>
            </tr>
        </thead>

        <tbody>
        <!--NgFor que imprime egresos de base de datos (itemsInventario), este a su vez compara con el Filtro por nombre en minusculas-->
            <ng-container *ngFor="let egreso of egresos">
              <!-- *ngIf="item.nombre.toLocaleLowerCase().includes(filtroNombre.toLowerCase())" -->
            <tr
            scope="row" class="bg-light">
                <td>{{ egreso.nombreItem }} </td>
                <td>{{ egreso.categoriaItem }}</td>
                <td>{{ egreso.cantidad }} {{ egreso.unidades }}</td>
                <td>{{ egreso.obra }}</td>
                <td>{{ egreso.reponsable }}</td>
                <td>{{ egreso.fecha | date:'short' }}</td>
            </tr>
            <!-- *ngIf="(
            (regresarNombre(egreso.idItem).toLocaleLowerCase().includes(filtroNombre.value.toLocaleLowerCase()) || filtroNombre.value == '')

            )" -->
            <!-- && -->
            <!-- (regresarCategoria(egreso.idItem).includes(filtroCategoria.value)|| filtroCategoria.value == null) -->
            <!-- && -->
            <!-- (egreso.obra.toLocaleLowerCase().includes(filtroObra.value.toLocaleLowerCase()) || filtroObra.value =='') -->
            <!-- && -->
            <!-- (egreso.reponsable.toLocaleLowerCase().includes(filtroResponsable.value.toLocaleLowerCase()) || filtroResponsable.value =='') -->
            </ng-container>
        </tbody>
    </table>
    </div>
    <div class="row">
        <h1>Eliminados</h1>
    </div>
    <div class="row">
        <!--Tabla de inventario en donde se muestran los ELIMINADOS generales-->
        <table class="table shadow">
        <thead class="thead bg-danger text-white">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha de Eliminación</th>
            </tr>
        </thead>

        <tbody>
        <!--NgFor que imprime egresos de base de datos (itemsInventario), este a su vez compara con el Filtro por nombre en minusculas-->
            <ng-container *ngFor="let eliminacion of eliminados">
              <!-- *ngIf="item.nombre.toLocaleLowerCase().includes(filtroNombre.toLowerCase())" -->
            <tr
            scope="row" class="bg-light">
                <td>{{ eliminacion.nombreItem }} </td>
                <td>{{ eliminacion.categoriaItem }}</td>
                <td>{{ eliminacion.cantidad }} {{ eliminacion.unidades }}</td>
                <td>{{ eliminacion.IdUsuario }}</td>
                <td>{{ eliminacion.fecha | date:'short' }}</td>
            </tr>
            <!-- *ngIf="(
            (regresarNombre(egreso.idItem).toLocaleLowerCase().includes(filtroNombre.value.toLocaleLowerCase()) || filtroNombre.value == '')

            )" -->
            <!-- && -->
            <!-- (regresarCategoria(egreso.idItem).includes(filtroCategoria.value)|| filtroCategoria.value == null) -->
            <!-- && -->
            <!-- (egreso.obra.toLocaleLowerCase().includes(filtroObra.value.toLocaleLowerCase()) || filtroObra.value =='') -->
            <!-- && -->
            <!-- (egreso.reponsable.toLocaleLowerCase().includes(filtroResponsable.value.toLocaleLowerCase()) || filtroResponsable.value =='') -->
            </ng-container>
        </tbody>
    </table>
    </div>
</div>
