<div class="container">
    <button data-toggle="modal" data-target="#pdfEgresos" class="btn btn-warning float-right">Exportar a PDF</button>
    <div class="row">
        <h1>Egresos</h1>
    </div>
    <div class="row">
        <table class="table shadow table-striped">
        <!--FILTROS DE LA TABLA DE EGRESOS-->
        <thead class="thead bg-warning text-white">
            <tr>
            <th scope="col"><input #filtroNombre="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por nombre"></th>
            <th scope="col">
                <select #filtroCategoria="ngModel" class="form-control form-control-sm" ngModel name="filtroCategoria">
                <option value="">Categoría (Todas)</option>
                <option *ngFor="let cat of categorias" [value]="cat.nombre">{{ cat.nombre }}</option>
                </select>
            </th>
            <th scope="col"></th>
            <th scope="col"><input #filtroObra="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por obra"></th>
            <th scope="col"><input #filtroResponsable="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por responsable"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <thead class="thead bg-warning">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Obra</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha de Egreso</th>
            </tr>
        </thead>

        <tbody>
        <!--Ng For IMPRIME DATA DE EGRESOS, Y USA FILTROS PARA REDUCIR-->
            <ng-container *ngFor="let egreso of egresos">

            <tr *ngIf="(egreso.nombre.toLocaleLowerCase().includes(filtroNombre.value.toLowerCase()) || filtroNombre.value == '')
                &&
                (egreso.categoria == filtroCategoria.value || filtroCategoria.value == '')
                &&
                (egreso.responsable.toLocaleLowerCase().includes(filtroResponsable.value.toLowerCase()) || filtroResponsable.value == '')
                &&
                (egreso.obra.toLocaleLowerCase().includes(filtroObra.value.toLowerCase()) || filtroObra.value == '')
                "scope="row" class="bg-light">
                <td>{{ egreso.nombre | titlecase }} </td>
                <td>{{ egreso.categoria }}</td>
                <td>{{ egreso.cantidad }} {{ egreso.unidad }}</td>
                <td>{{ egreso.obra }}</td>
                <td>{{ egreso.responsable }}</td>
                <td>{{ egreso.fecha | date:'short' }}</td>
            </tr>
            </ng-container>
        </tbody>
    </table>
    </div>

<!--INICIO DE TABLA DE BD ELIMINADOS-->
    <div class="row">
        <h1>Eliminados</h1>
    </div>
    <div class="row">
        <table class="table shadow table-striped">
        <thead class="thead bg-danger text-white">
            <tr>
            <th scope="col"><input #filtroNombreEliminados="ngModel" class="w-75 form-control form-control-sm" ngModel type="text" placeholder="Filtro por nombre eliminados"></th>
            <th scope="col">
                <select #filtroCategoriaEliminados="ngModel" class="form-control form-control-sm" ngModel name="filtroCategoriaEliinados">
                <option value="">Categoría (Todas)</option>
                <option *ngFor="let cat of categorias" [value]="cat.nombre">{{ cat.nombre }}</option>
                </select>
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <thead class="thead bg-danger text-white">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha de Eliminación</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let eliminado of listaEliminados">
            <tr
            *ngIf="(
            (eliminado.nombre.toLocaleLowerCase().includes(filtroNombreEliminados.value.toLocaleLowerCase()) || filtroNombreEliminados.value == '')
            &&
            (eliminado.categoria.includes(filtroCategoriaEliminados.value)|| filtroCategoriaEliminados.value == null))"
            scope="row" class="bg-light">
                <td> {{ eliminado.nombre | titlecase }} </td>
                <td> {{ eliminado.categoria }} </td>
                <td> {{ eliminado.cantidad }} {{ eliminado.unidad }} </td>
                <td> {{ eliminado.responsable }} </td>
                <td> {{ eliminado.fecha | date:'short'}} </td>
            </tr>
            </ng-container>
        </tbody>
    </table>
    </div>
</div>
<!-- FIN TABLA DE ELIMINADOS -->

<!-- MODAL PDF EGRESOS -->
<div class="modal fade" id="pdfEgresos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exportar a PDF</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" id='elemento-a-exportar'>
        <!-- <img src="../../../assets/logo.svg" alt="Logo" class="img-fluid" style="max-width: 75px; width: 100%; margin: 0; padding: 0"> -->
        <div class="row">
            <h4>Egresos</h4>
        </div>
        <div class="row">
            <!--Tabla de inventario en donde se muestra el inventario general-->
            <table class="table table-sm letras">
                <thead class="thead bg-danger text-white">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Obra</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Fecha Egreso</th>
                </tr>
                </thead>

                <tbody>
                <!--FILTROS DE LA TABLA DE INGRESOS-->
                <ng-container *ngFor="let egreso of egresos">
                    <tr>
                    <td>{{ egreso.nombre | titlecase }}</td>
                    <td>{{ egreso.categoria }}</td>
                    <td>{{ egreso.cantidad }} {{ egreso.unidad }}</td>
                    <td>{{ egreso.obra }}</td>
                    <td>{{ egreso.responsable }}</td>
                    <td>{{ egreso.fecha | date:'short' }}</td>
                </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="descargarPDF()" class="btn btn-danger">Exportar</button>
        </div>
    </div>
    </div>
</div>
