<div class="container">

  <div class="row">
    <div class="col">
      <div *ngIf="usuario" class="card shadow">
        <div class="card-header bg-info">
          <h5>Información personal</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-lg-3">
              <img src="../../../assets/profileGeneric.png" alt="profileGeneric">
            </div>

            <div class="col">
              <h1>{{ usuario.nombre | titlecase }} {{ usuario.apellido | titlecase}}</h1>
              <h2>{{ usuario.cargo | titlecase }}</h2> <br>
              <h4>{{ cedula }}</h4>
              <h4>{{ usuario.correo }}</h4>
            </div>
            <div class="col-3">
              <h5>Permisos</h5>
              <ul>
                <li>Inventario</li>
                <li>Administración</li>
              </ul>
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Cambiar contraseña</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #passForm="ngForm" (ngSubmit)="changePass(passForm)">
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nueva contraseña:</label>
            <input #pass="ngModel" ngModel required type="password" class="form-control" id="contrasena" name="password">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Repita la contraseña:</label>
            <input #pass2="ngModel" ngModel required type="password" class="form-control" id="contrasena2" name="password2">
          </div>
          <p *ngIf="this.pass.dirty && this.pass2.dirty  && (this.pass.value != this.pass2.value)" class="text-danger">Las contraseñas no coinciden</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button [disabled]='!this.passForm.valid || (this.pass.value != this.pass2.value)' type="submit" class="btn btn-warning">Guardar nueva contraseña</button>
        </div>
      </form>

    </div>
  </div>
</div>
