<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!--Modal de ingreso de producto-->

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form #f="ngForm">
      <div class="modal-body" *ngFor="let item of nuevosItems; let i = index" [ngClass]="{'bg-secondary text-white': i%2 != 0}">
          <!--Nombre de producto-->
            <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label>Nombre</label>
                <input type="text" [(ngModel)]="nuevosItems[i].nombre" name="nombre" class="form-control">
              </div>
              <div class="col-3">
                <!--Label y Select del tipo de producto-->
                <label for="exampleFormControlSelect1">Categoría</label>
                <select class="form-control" [(ngModel)]="nuevosItems[i].tipo" name="tipo" #cat="ngModel">
                  <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                </select>
              </div>
              <div class="col-3">
                <label>Serial</label>
                <input type="text" [(ngModel)]="nuevosItems[i].serial" name="serial" class="form-control" aria-describedby="emailHelp">
              </div>
              <div class="col-2">
                <label>Precio</label>
                <div class="input-group">
                <input type="number" [(ngModel)]="nuevosItems[i].precio" name="precio" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1">$</span>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <!--Cantidad de producto-->
                <label for="exampleInputPassword1">Cantidad y Unidades</label>
                <div class="input-group">
                  <input type="number" [(ngModel)]="nuevosItems[i].cantidad" name="cantidad" class="form-control">
                  <select type="text" placeholder="0" [(ngModel)]="nuevosItems[i].unidades" name="unidades" class="form-control">
                    <option *ngFor="let unidad of unidades" value="{{ unidad.nombre }}">{{ unidad.nombre }}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <label>Ubicación en almacén</label>
                <select type="text" [(ngModel)]="nuevosItems[i].ubicacion" name="ubicacion" class="form-control" aria-describedby="emailHelp">
                  <option *ngFor="let ubicacion of ubicaciones" value="{{ ubicacion.nombre }}">{{ ubicacion.nombre }}</option>
                </select>
              </div>
              <div class="col-4">
                <!--Condicion para colocar fecha de vencimiento (Producto o consumible unicamente)-->
                <div *ngIf="cat.value == 'Consumible' || cat.value == 'Producto'" class="form-group">
                    <label>Vencimiento</label>
                      <input class="form-control" [(ngModel)]="nuevosItems[i].vencimiento" name="vencimiento" type="date">
              </div>
              </div>
            </div>
          </div>

      </div>

    <!--Footer de Modal con botones de cerrar e ingresar-->
    <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="agregarItem()">Más Items</button>
          <button type="button" class="btn btn-secondary" [disabled]="nuevosItems.length == 1" (click)="restarItem()">Menos Items</button>
      </div>
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="onSubmit()" data-dismiss="modal">Ingresar</button>
    </div>
    </form>

  </div>
</div>
