<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!--Modal de ingreso de producto-->

    <div class="modal-header bg-success text-white">
      <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
      <button type="button" class="close text-white" data-dismiss="modal" (click)='cerrarModal()' aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form #f="ngForm">
      <div class="modal-body" *ngFor="let item of nuevosItems; let i = index" [ngClass]="{'color-contraste': i%2 != 0}">
          <!--Nombre de producto-->
            <div class="form-group">
              <h3>Item {{i+1}}</h3>
              <div class="form-check">
                <input #itemExistente="ngModel" class="form-check-input" type="checkbox" value="" id="defaultCheck1" ngModel name="checkboxExistente" >
                <label class="form-check-label" for="defaultCheck1">
                  Item Existente
                </label>
              </div>
              <div>PRUEBA</div>
            <div >
            <div class="row">
              <div class="col-4">
                <label>Nombre</label>
                <input #nombre="ngModel" required type="text" [(ngModel)]="nuevosItems[i].nombre" name="nombre" class="form-control">
                <small *ngIf="!nombre.valid && nombre.touched" class="text-danger">Ingrese un nombre.</small>
              </div>
              <div class="col-3">
                <!--Label y Select del tipo de producto-->
                <label for="exampleFormControlSelect1">Categoría</label>
                <select #cat="ngModel" #cat[i]="ngModel" required class="form-control" [(ngModel)]="nuevosItems[i].tipo" name="cat[i]">
                  <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                </select>
                <small *ngIf="!cat.valid && cat.touched" class="text-danger">Ingrese una categoria.</small>
              </div>
              <div class="col-2">
                <label>Serial</label>
                <input type="text" [(ngModel)]="nuevosItems[i].serial" name="serial" class="form-control" aria-describedby="emailHelp">
              </div>
              <div class="col-3">
                <label>Precio</label>
                <div class="input-group">
                <input onkeypress="return event.charCode >= 48" type="number" [(ngModel)]="nuevosItems[i].precio" name="precio" class="form-control">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1">$</span>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-4" *ngIf="nuevosItems[i].tipo == 'Consumible' || nuevosItems[i].tipo == 'Producto'">
                <!--Cantidad de producto-->
                <label for="exampleInputPassword1">Cantidad y Unidades</label>
                <div class="input-group">
                  <input onkeypress="return event.charCode > 48" min="1" #cantidad="ngModel" required type="number" [(ngModel)]="nuevosItems[i].cantidad" name="cantidad" class="form-control">
                  <select #unidadX="ngModel" required type="text" placeholder="0" [(ngModel)]="nuevosItems[i].unidades" name="unidades" class="form-control">
                    <option *ngFor="let unidad of unidades" value="{{ unidad.nombre }}">{{ unidad.nombre }}</option>
                  </select>
                </div>
                <small *ngIf="!cantidad.valid && cantidad.touched" class="text-danger">Ingrese una cantidad.<br></small>
                <small *ngIf="!unidadX.valid && unidadX.touched" class="text-danger">Ingrese una unidad.</small>
              </div>
              <div class="col-4">
                <label>Ubicación en almacén</label>
                <select type="text" [(ngModel)]="nuevosItems[i].ubicacion" name="ubicacion" class="form-control" aria-describedby="emailHelp">
                  <option *ngFor="let ubicacion of ubicaciones" value="{{ ubicacion.nombre }}">{{ ubicacion.nombre }}</option>
                </select>
              </div>
              <div class="col-4">
                <!--Condicion para colocar fecha de vencimiento (Producto o consumible unicamente)-->
                <div *ngIf="nuevosItems[i].tipo == 'Consumible' || nuevosItems[i].tipo == 'Producto'" class="form-group">
                  <label>Vencimiento</label>
                  <input class="form-control" [(ngModel)]="nuevosItems[i].vencimiento" name="vencimiento" type="date">
              </div>
              </div>
            </div>
            </div>
          </div>

      </div>

    <!--Footer de Modal con botones de cerrar e ingresar-->
    <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="agregarItem()">
            <fa-icon [icon]="faPlusCircle"></fa-icon> Más Items
          </button>
          <button type="button" class="btn btn-secondary" [disabled]="nuevosItems.length == 1" (click)="restarItem()">
            <fa-icon [icon]="faMinusCircle"></fa-icon> Menos Items
          </button>
        </div>
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-dismiss="modal">
          <fa-icon [icon]="faTimesCircle"></fa-icon> Cerrar
        </button>
        <!-- !f.valid significa cuando el form no sea valido -->
        <button data-dismiss="modal" type="button" class="btn btn-success" (click)="onSubmit()">
          <fa-icon [icon]="faSignInAlt"></fa-icon> Ingresar
      </button>
    </div>
    </form>

  </div>
</div>
