<div class="modal-dialog modal-lg">
<div class="modal-content">

    <div class="modal-header bg-info text-white">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form #f="ngForm">
        <div class="modal-body">
            <div class="form-group">
              <h5>Seleccione el item a modificar:</h5>
                <div class="row">
                    <div class="col">
                        <label>Categoría</label>
                        <select class="form-control" ngModel name="selectTipoModificar" #selectTipoModificar="ngModel">
                          <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Item</label>
                        <select #idItem="ngModel" (change)="alElegirItem(idItem.value)" class="form-control" ngModel name="item">
                          <ng-container *ngFor="let item of inventario">
                            <option *ngIf="item.tipo == selectTipoModificar.value" value='{{item.id}}'>{{ item.nombre }}</option>
                          </ng-container>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
                <!--LUGAR DEL FORMULARIO PARA COLOCAR DATOS NUEVOS-->
                <div class="form-group">
                    <h5>Modifique los datos que desee:</h5>
                    <div class="row">
                        <div class="col-3">
                            <label>Nombre</label>
                            <input required type="text" [(ngModel)]="itemElegido.nombre" name="nombre" class="form-control">
                        </div>
                        <div class="col-3">
                            <label>Categoría</label>
                            <select required class="form-control" [(ngModel)]="itemElegido.tipo" name="categoria">
                                <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Cantidad y Unidades</label>
                            <div class="input-group">
                                <input [disabled]="itemElegido.tipo == 'Herramienta'" onkeypress="return event.charCode >= 48" [(ngModel)]="itemElegido.cantidad" required type="number" name="cantidad" class="form-control">
                                <select [disabled]="itemElegido.tipo == 'Herramienta'" required type="text" placeholder="0"  name="unidades" [(ngModel)]="itemElegido.unidades" class="form-control">
                                <option *ngFor="let unidad of unidades" value="{{ unidad.nombre }}">{{ unidad.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <label>Ubicación</label>
                            <select type="text"  name="ubicacion" [(ngModel)]="itemElegido.ubicacion" class="form-control" aria-describedby="emailHelp">
                                <option *ngFor="let ubicacion of ubicaciones" value="{{ ubicacion.nombre }}">{{ ubicacion.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Serial</label>
                            <input required type="text" [(ngModel)]="itemElegido.serial" name="serial" class="form-control">
                        </div>
                        <div class="col">
                            <label>Fecha de Vencimiento</label>
                            <input [disabled]="itemElegido.tipo == 'Herramienta'" class="form-control" [(ngModel)]="itemElegido.vencimiento" name="vencimiento" type="date">
                        </div>
                        <div class="col">
                            <label>Estado</label>
                            <select type="text" [(ngModel)]="itemElegido.estado" name="estado" class="form-control">
                                <option>Disponible</option>
                                <option>En Obra</option>
                                <option>Dañado</option>
                                <option>Agotado</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Precio</label>
                            <input onkeypress="return event.charCode >= 48" type="number" [(ngModel)]="itemElegido.precio" name="precio" class="form-control">
                        </div>
                    </div>
                </div>
        </div>

        <!--Footer de Modal con botones de cerrar y modificar-->
        <div class="modal-footer">
            <button (click)="f.reset()" type="button" class="btn btn-secondary" data-dismiss="modal">
                <fa-icon [icon]="faTimesCircle"></fa-icon>Cerrar
            </button>
            <button (click)="onModificar()" data-dismiss="modal" type="button" class="btn btn-info">
                <fa-icon [icon]="faPencilAlt"></fa-icon>Modificar
            </button>
        </div>

    </form>
</div>
</div>
