<div class="modal-dialog modal-lg">
<div class="modal-content">

    <div class="modal-header bg-info text-white">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form #f="ngForm">
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Categoría</label>
                        <select class="form-control" ngModel name="selectTipoModificar" #selectTipoModificar="ngModel">
                            <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Item</label>
                        <select class="form-control" [(ngModel)]='idItemElegidoModificar' name="item">
                            <ng-container *ngFor="let item of inventario">
                            <option *ngIf="item.tipo == selectTipoModificar.value" value='{{item.id}}'>{{ item.nombre }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
            </div>
            <!--LUGAR DEL FORMULARIO CON DATOS VIEJOS-->
                <div class="form-group">
                    <h5>Datos Actuales del Item</h5>
                    <div class="row">
                        <div class="col-3">
                            <label>Nombre</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].nombre}}</p>
                        </div>
                        <div class="col-3">
                            <label>Categoría</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].tipo}}</p>
                        </div>
                        <div class="col-3">
                            <label>Cantidad y Unidades</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].cantidad}} {{inventario[regresarIndice()].unidades}}</p>
                        </div>
                        <div class="col-2">
                            <label>Ubicación</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].ubicacion}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Serial</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].serial}}</p>
                        </div>
                        <div class="col">
                            <label>Fecha de Vencimiento</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].vencimiento}}</p>
                        </div>
                        <div class="col">
                            <label>Estado</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].estado}}</p>
                        </div>
                        <div class="col">
                            <label>Precio</label>
                            <p *ngIf="idItemElegidoModificar != null">{{inventario[regresarIndice()].precio}}</p>
                        </div>
                    </div>
                </div>
                <!--LUGAR DEL FORMULARIO PARA COLOCAR DATOS NUEVOS-->
                <div class="form-group">
                    <h5>Datos Nuevos del Item</h5>
                    <div class="row">
                        <div class="col-3">
                            <label>Nombre</label>
                            <input required type="text" [(ngModel)]="nombreNuevo" name="nombre" class="form-control">
                        </div>
                        <div class="col-3">
                            <label>Categoría</label>
                            <select required class="form-control" [(ngModel)]="tipoNuevo" name="categoria">
                                <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label>Cantidad y Unidades</label>
                            <div class="input-group">
                                <input onkeypress="return event.charCode >= 48" [(ngModel)]="cantidadNuevo" required type="number" name="cantidad" class="form-control">
                                <select  required type="text" placeholder="0"  name="unidades" [(ngModel)]="unidadesNuevo" class="form-control">
                                <option *ngFor="let unidad of unidades" value="{{ unidad.nombre }}">{{ unidad.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <label>Ubicación</label>
                            <select type="text"  name="ubicacion" [(ngModel)]="ubicacionNuevo" class="form-control" aria-describedby="emailHelp">
                                <option *ngFor="let ubicacion of ubicaciones" value="{{ ubicacion.nombre }}">{{ ubicacion.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Serial</label>
                            <input required type="text" [(ngModel)]="serialNuevo" name="serial" class="form-control">
                        </div>
                        <div class="col">
                            <label>Fecha de Vencimiento</label>
                            <input class="form-control" [(ngModel)]="vencimientoNuevo" name="vencimiento" type="date">
                        </div>
                        <div class="col">
                            <label>Estado</label>
                            <select type="text" [(ngModel)]="estadoNuevo" name="estado" class="form-control">
                                <option>Disponible</option>
                                <option>En Obra</option>
                                <option>Dañado</option>
                                <option>Agotado</option>
                            </select>
                        </div>
                        <div class="col">
                            <label>Precio</label>
                            <input onkeypress="return event.charCode >= 48" type="number" [(ngModel)]="precioNuevo" name="precio" class="form-control">
                        </div>
                    </div>
                </div>
        </div>

        <!--Footer de Modal con botones de cerrar y modificar-->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button data-dismiss="modal" type="button" class="btn btn-info">Modificar</button>
        </div>

    </form>
</div>
</div>  
