<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!--Modal de reingreso de producto-->

    <div class="modal-header bg-primary text-white">
      <h5 class="modal-title" id="exampleModalLabel">Reingreso</h5>
      <button (click)="borrarForm()" type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!--Filtro por Tipo de reingreso-->

    <form #f="ngForm">
      <div *ngFor="let item of idsReingreso; let i=index" class="modal-body">
        <h3>Item {{i+1}}</h3>
        <div class="form-group">
          <div class="row">
            <div class="col-3">
                <label>Categoría</label>
                  <select (change)="restaurarValor(i)" required class="form-control" ngModel [name]="'selectTipo'+[i]" #selectCategoria="ngModel">
                    <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                  </select>
            </div>
            <div class="col-3">
                <label>Subcategoria</label>
                  <select required class="form-control" ngModel [name]="'selectSubcategoria'+[i]" #selectSubcategoria="ngModel">
                    <option *ngFor="let subcategoria of subcategorias" value="{{subcategoria.nombre}}">{{ subcategoria.nombre }}</option>
                  </select>
            </div>
            <!--Filtro por Item de reingreso-->
            <div class="col-3">
                <label>Item</label>
                <select required class="form-control" [(ngModel)]="idsReingreso[i].id" [name]="'selectId'+[i]">
                  <!--NgFor que imprime la cantidad de items que hay en total-->
                  <ng-container *ngFor="let item of inventario">
                    <!--NgIf que filtra Items impresos de acuerdo al Item seleccionado-->
                    <ng-container *ngIf="item.categoria == selectCategoria.value && item.subcategoria == selectSubcategoria.value">
                      <option *ngIf="(item.categoria == 'Herramienta' && item.estado == 'En Obra') || (item.categoria != 'Herramienta')" value='{{ item.id }}'>{{ item.nombre }}</option>
                    </ng-container>
                  </ng-container>
                </select>
            </div>
              <div *ngIf="selectCategoria.value != 'Herramienta'" class="col-3">
                <!--Label e input de cantidad actual (muestra numero actual en inventario)-->
                <label for="exampleInputEmail1">Cantidad actual</label>
                <p *ngIf="idsReingreso[i].id != null && idsReingreso[i].id != undefined && idsReingreso[i].id != ''">{{ inventario[regresarIndice(i)].cantidad }} {{ inventario[regresarIndice(i)].unidades }}</p>
              </div>
              <div class="col-3">



                <!--Label e input de cantidad a ingresar (se escribe la cantidad a ingresar)-->
                <label for="exampleInputEmail1">Cantidad a ingresar</label>
                <input
                  *ngIf="idsReingreso[i].id != null && idsReingreso[i].id != undefined && idsReingreso[i].id != ''"
                  onkeypress="return event.charCode >= 46"
                  min="1"
                  type="number"
                  (keyup)='revisarCantidad()'
                  [(ngModel)]="idsReingreso[i].cantidad"
                  [name]="'cantidad'+[i]"
                  class="form-control">
              </div>

          </div>
        </div>


      </div>
      <!--Footer de Modal de reingreso, con botones de cerrar e ingresar-->
      <div class="modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="agregarItem()">
            <fa-icon [icon]="faPlusCircle"></fa-icon> Más Items
          </button>
          <button type="button" [hidden]="idsReingreso.length == 1" class="btn btn-secondary" [disabled]="idsReingreso.length == 1" (click)="restarItem()">
            <fa-icon [icon]="faMinusCircle"></fa-icon> Menos Items
          </button>
        </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="borrarForm()">
            <fa-icon [icon]="faTimesCircle"></fa-icon> Cerrar
          </button>
          <button [disabled]='!valido || !f.valid' type="button" class="btn btn-success" (click)="reingresarItems()" data-dismiss="modal">
            <fa-icon [icon]="faSignInAlt"></fa-icon> Ingresar
          </button>
      </div>

    </form>
  </div>
</div>
