<div class="bg-white shadow-lg container">
    <div class="container pt-3">
        <h3>Egreso</h3>
    </div>
    <div class='container'>
        <form #f="ngForm">
            <div *ngFor="let item of idsEgreso; let i=index" class="modal-body">
                <h5>Item {{i+1}}</h5>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3">
                        <label>Categoría</label>
                        <select (change)='borrarId(i);' class="form-control" ngModel [name]="'selectCat'+[i]" #selectCat="ngModel">
                            <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                        </select>
                        </div>
                        <div class="col-3">
                            <label>Subcategoría</label>
                            <select (change)='borrarId(i);' class="form-control" ngModel [name]="'selectSubcat'+[i]" #selectSubcat="ngModel">
                                <option *ngFor="let subcategoria of subcategorias" value="{{subcategoria.nombre}}">{{ subcategoria.nombre }}</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label>Item</label>
                            <select [(ngModel)]='idsEgreso[i].id' class="form-control" [name]="'idItem'+[i]">
                            <!--FILTRO DE ITEM POR CAT Y SUBCAT-->
                                <ng-container *ngFor="let item of inventario">
                                <!--NgIf que filtra Items impresos de acuerdo al Item seleccionado-->
                                <option *ngIf="item.categoria == selectCat.value && item.subcategoria == selectSubcat.value && item.estado == 'Disponible'" value='{{item.id}}'>{{ item.nombre }}</option>
                                </ng-container>
                            </select>
                        </div>
                        <div class="col-3">
                        <!--LABEL E INPUT DE CANTIDAD ACTUAL EN INVENTARIO-->
                            <label for="exampleInputEmail1">Cantidad actual</label>
                            <p *ngIf="idsEgreso[i].id != null && idsEgreso[i].id != undefined && idsEgreso[i].id != ''">{{inventario[regresarIndice(i)].cantidad}} {{inventario[regresarIndice(i)].unidades}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <!--LABEL E INPUT CON CANTIDAD A EGRESAR-->
                        <div class="col-3">
                            <label for="exampleInputEmail1">Cantidad a egresar</label>
                            <input *ngIf="idsEgreso[i].id != null && idsEgreso[i].id != undefined && idsEgreso[i].id != ''"
                            onkeypress="return event.charCode >= 48"
                            min="1"
                            [max]="inventario[regresarIndice(i)].cantidad" type="number"
                            [(ngModel)]="idsEgreso[i].cantidad"
                            [name]="'cantidadEgreso'+[i]"
                            class="form-control"
                            (keyup)='revisarCantidad(inventario[regresarIndice(i)].cantidad)'>
                        </div>
                        <div class="col-5">
                            <label for="exampleInputEmail1">Obra destino</label>
                            <input [(ngModel)]='idsEgreso[i].obra' [name]="'obra'+[i]" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="exampleInputEmail1">Responsable</label>
                            <input [(ngModel)]='idsEgreso[i].responsable' [name]="'responsable'+[i]" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- BOTONES DEL FORMULARIO DE EGRESO -->
            <div class='modal-footer'>
                <div class="btn-group">
                <button type="button" class="btn btn-primary" (click)="agregarItem()">
                    <fa-icon [icon]="faPlusCircle"></fa-icon> Más Items
                </button>
                <button [hidden]="idsEgreso.length == 1" type="button" class="btn btn-secondary" (click)="restarItem()">
                    <fa-icon [icon]="faMinusCircle"></fa-icon> Menos Items
                </button>
                </div>
                <button type="button" class="btn btn-secondary" (click)="borrarForm()">
                    <fa-icon [icon]="faTimesCircle"></fa-icon> Cerrar
                </button>
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="egresarItems()"
                    [disabled]='!valido'>
                    <fa-icon [icon]="faSignOutAlt"></fa-icon> Egresar
                </button>
            </div>
        </form>
    </div>
</div>


