/*ESTILOS HTML LOCAL*/
body{
    background: #f8f9fa;
}
.principal{
    margin-top: 50px;
    font-family: 'Roboto';
}

/*ESTILOS DE LAS SECCIONES LOCALES*/
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 110px;
}
section .content h2{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 4em;
}

/*ESTILOS DE HEADERS DE CARDS LOCALES*/
.header-color-proveedores{
    background: linear-gradient(-90deg, #BF019F, #F28A57);
}
.header-color-productos{
    background: linear-gradient(-90deg, #6e1f9c, #c880f8);
}
.header-color-pedidos{
    background: linear-gradient(-90deg, #1a3caa, #3e86e4);
}
/*ESTILOS DE BOTONES DE CARDS LOCALES*/
.btn-color-proveedores{
    background: linear-gradient(-90deg, #BF019F, #F28A57);
    color: aliceblue;
    border: none;
}
.btn-color-productos{
    background: linear-gradient(-90deg, #6e1f9c, #c880f8);
    color: aliceblue;
    border: none;
}
.btn-color-pedidos{
    background: linear-gradient(-90deg, #1a3caa, #3e86e4);
    color: aliceblue;
    border: none;
}