body{
    background: #f8f9fa;
}
.principal{
    margin-top: 50px;
    font-family: 'Roboto';
}
.card-header-first{
    margin-top: -40px;
    height: 120px;
    background: linear-gradient(-90deg, #BF019F, #F28A57);
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-header-second{
    margin-top: -40px;
    height: 120px;
    background: linear-gradient(-90deg, #11998e, #38ef7d);
    box-shadow: 1px 5px 15px #a2a2a2;
}
.card-section{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-section:hover{
    box-shadow: 1px 1px 20px #d2d2d2;
}
.margen-superior{
    margin-top: 130px;
}