/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  margin-top: 75px;
  background: url('fondo.svg') no-repeat;
  background-size: cover;
  background-color: cadetblue;
}

input.ng-invalid.ng-touched,  select.ng-invalid.ng-touched{
  border: 1.5px solid red;
}
