<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!--Modal de reingreso de producto-->

    <div class="modal-header bg-primary text-white">
      <h5 class="modal-title" id="exampleModalLabel">Reingreso</h5>
      <button (click)="borrarForm()" type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!--Filtro por Tipo de reingreso-->

    <form #f="ngForm">
      <div *ngFor="let item of idsReingreso; let i = index" class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-3">
                <label>Categoría</label>
                  <select class="form-control" ngModel name="selectTipo" #selectTipo="ngModel">
                    <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                  </select>
            </div>
            <!--Filtro por Item de reingreso-->
            <div class="col-3">
                <label>Item</label>
                <select class="form-control" [(ngModel)]="idsReingreso[i].id" name="id">
                  <!--NgFor que imprime la cantidad de items que hay en total-->
                  <ng-container *ngFor="let item of inventario">
                    <!--NgIf que filtra Items impresos de acuerdo al Item seleccionado-->
                    <ng-container *ngIf="item.tipo == selectTipo.value">
                      <option *ngIf="(item.tipo == 'Herramienta' && item.estado == 'En Obra') || (item.tipo != 'Herramienta')" value='{{item.id}}'>{{ item.nombre }}</option>
                    </ng-container>
                  </ng-container>
                </select>
            </div>
              <div *ngIf="selectTipo.value != 'Herramienta'" class="col-3">
                <!--Label e input de cantidad actual (muestra numero actual en inventario)-->
                <label for="exampleInputEmail1">Cantidad actual</label>
                <p *ngIf="idItemElegido != null">{{inventario[regresarIndice()].cantidad}} {{inventario[regresarIndice()].unidades}}</p>
              </div>
              <div *ngIf="selectTipo.value != 'Herramienta'" class="col-3">
                <!--Label e input de cantidad a ingresar (se escribe la cantidad a ingresar)-->
                <label for="exampleInputEmail1">Cantidad a ingresar</label>
                <input type="number"  [(ngModel)]="idsReingreso[i].cantidad" name="cantidad" class="form-control">
              </div>

          </div>
        </div>


      </div>
      <!--Footer de Modal de reingreso, con botones de cerrar e ingresar-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="borrarForm()">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="reingresarItems()" data-dismiss="modal">Ingresar</button>
        <button type="button" class="btn btn-secondary" (click)="agregarItem()">Más</button>
        <button type="button" class="btn btn-success" (click)="restarItem()">Menos</button>
      </div>
    </form>
  </div>
</div>
