<div class="container">
  <div class="row px-4">
    <div class="col-3">
      <h1>Empleados</h1>
    </div>
    <div class="col-9">
      <div class="btn-group float-end">
        <button type="button" class="btn btn-success" routerLink='ingresar'>Añadir Empleado</button>
      </div>
    </div>
  </div>
  <div class="row px-4">
    <div class="table-responsive">
      <table class="table table-sm shadow table-striped">
        <thead class="table-dark">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Cédula</th>
              <th scope="col">Cargo</th>
              <th scope="col">Correo</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let usuario of usuarios" class="table-sm" scope="row" class="bg-light">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.cedula }}</td>
                <td>{{ usuario.cargo }}</td>
                <td>{{ usuario.correo }}</td>
                <td><button (click)='onSetAcciones(usuario)' data-bs-toggle="modal" data-bs-target="#modalInfo" class="btn btn-info btn-sm text-white">Acciones</button></td>
              </tr>
        </tbody>
    </table>
  </div>
  </div>

  <div class="modal" tabindex="-1" id="modalInfo">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h3 class="modal-title text-white">Empleado: {{ usuarioAcciones.nombre | titlecase}} {{ usuarioAcciones.apellido | titlecase}}</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">

                <div class="card-body">
                  <form #f="ngForm">
                  <div class="row">

                    <div class="col-3">
                      <img src="../../../assets/profileGeneric.png" alt="profileGeneric" class="h-25">
                    </div>
                    <div *ngIf="!editarMode" class="col">
                      <h3>{{ usuarioAcciones.nombre | titlecase }} {{ usuarioAcciones.apellido | titlecase}}</h3>
                      <h4>{{ buscarCargoById(usuarioAcciones.cargo) }}</h4> <br>
                      <h6>{{ usuarioAcciones.cedula }}</h6>
                      <h6>{{ usuarioAcciones.correo }}</h6>
                    </div>

                    <div *ngIf="editarMode" class="col-5">
                      <div class="row mb-2">
                        <div class="col">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input ngModel [(ngModel)]='usuarioAcciones.nombre' type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                        <div class="col">
                          <label for="apellido" class="form-label">Apellido</label>
                          <input ngModel [(ngModel)]='usuarioAcciones.apellido' type="text" class="form-control" id="apellido" name="apellido">
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col">
                          <label for="cargo" class="form-label">Cargo</label>
                          <select name="cargo" ngModel [(ngModel)]='usuarioAcciones.cargo' class="form-select" aria-label="Default select example">
                            <option *ngFor="let cargo of cargos" value={{cargo.id}}>{{cargo.nombre}}</option>
                          </select>
                        </div>

                      </div>
                      <div class="row mb-2">
                        <div class="col">
                          <label for="Correo" class="form-label">Correo</label>
                          <input ngModel [(ngModel)]='usuarioAcciones.correo' type="text" class="form-control" id="correo" name="Correo">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <h5>Permisos</h5>
                      <ul>
                        <li>Inventario</li>
                        <li>Administración</li>
                      </ul>
                    </div>

                  </div>
                </form>
                </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="editarMode && f.dirty" (click)="onAceptarEdicion()" type="button" class="btn btn-primary">Guardar Cambios</button>
          <button *ngIf="!editarMode" (click)="onEditar()" type="button" class="btn btn-primary">Editar empleado</button>
          <button *ngIf="!editarMode" (click)="eliminarUser()" data-bs-dismiss="modal" type="button" class="btn btn-danger">Eliminar empleado</button>
          <button (click)='onSalir()' type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{editarMode ? 'Cancelar' : 'Salir'}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="modalEliminar">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h5 class="modal-title text-white">Eliminar Item</h5>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro que deseas eliminar <strong></strong>?. <br> <br> <span class="text-danger">Esta acción es irreversible.</span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button (click)="eliminarUser()" data-bs-dismiss="modal" type="button" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
