<div class="margin-top-form">
  <div class="container">
    <div class="body form-body-style">
      <div class="container pt-3 form-header-style header-color-reingreso">
        <div class="mx-auto">
            <h3>Reingreso</h3>
        </div>  
      </div>
      <div class='container pe-5 ps-5 pt-2'>
        <form #f="ngForm">
          <div *ngFor="let item of idsReingreso; let i=index">
            <div class="container mt-2">
              <h5>Item {{i+1}}</h5>
            </div>
            <div class="container">
              <div class="row mt-3 mb-4">
                  <div class="col-2">
                      <label>Categoría</label>
                        <select (change)="restaurarValor(i)" required class="form-select mt-2" ngModel [name]="'selectTipo'+[i]" #selectCategoria="ngModel">
                          <option *ngFor="let categoria of categorias" value="{{categoria.nombre}}">{{ categoria.nombre }}</option>
                        </select>
                        <small *ngIf="!selectCategoria.valid && selectCategoria.touched" class="text-danger">Ingrese una categoría.</small>
                  </div>
                  <div class="col-2">
                      <label>Subcategoria</label>
                        <select required class="form-select mt-2" ngModel [name]="'selectSubcategoria'+[i]" #selectSubcategoria="ngModel">
                          <option *ngFor="let subcategoria of subcategorias" value="{{subcategoria.nombre}}">{{ subcategoria.nombre }}</option>
                        </select>
                        <small *ngIf="!selectSubcategoria.valid && selectSubcategoria.touched" class="text-danger">Ingrese una subcategoría.</small>
                  </div>
                  <div class="col-3">
                      <label>Item</label>
                      <select #itemSelect="ngModel" required class="form-select mt-2" [(ngModel)]="idsReingreso[i].id" [name]="'selectId'+[i]">
                        <!--NGFOR QUE IMPRIME ITEMS DE BD-->
                        <ng-container *ngFor="let item of inventario">
                          <!--FILTRO POR CATEGORIA DE ITEMS BD-->
                          <ng-container *ngIf="item.categoria == selectCategoria.value && item.subcategoria == selectSubcategoria.value">
                            <option *ngIf="(item.categoria == 'Herramienta' && item.estado == 'En Obra') || (item.categoria != 'Herramienta')" value='{{ item.id }}'>{{ item.nombre }}</option>
                          </ng-container>
                        </ng-container>
                      </select>
                      <small *ngIf="!itemSelect.valid && itemSelect.touched" class="text-danger">Ingrese un item.</small>
                  </div>
                  <div class="col-2">
                    <!--INPUT DE CANTIDAD (MUESTRA CANTIDAD EXISTENTE)-->
                    <label for="exampleInputEmail1">Cantidad actual</label>
                    <p *ngIf="idsReingreso[i].id != null && idsReingreso[i].id != undefined && idsReingreso[i].id != ''">{{ inventario[regresarIndice(i)].cantidad }} {{ inventario[regresarIndice(i)].unidades }}</p>
                  </div>
                  <div class="col-3">
                    <!--INPUT DE CANTIDAD (INGRESO DE CANTIDAD)-->
                    <label for="exampleInputEmail1">Cantidad a ingresar</label>
                    <div class="input-group">
                      <input
                        *ngIf="idsReingreso[i].id != null && idsReingreso[i].id != undefined && idsReingreso[i].id != ''"
                        onkeypress="return event.charCode >= 46"
                        min="1"
                        type="number"
                        (keyup)='revisarCantidad()'
                        [(ngModel)]="idsReingreso[i].cantidad"
                        [name]="'cantidad'+[i]"
                        class="form-control mt-2">
                        <input *ngIf="idsReingreso[i].id != null && idsReingreso[i].id != undefined && idsReingreso[i].id != ''" [placeholder]="inventario[regresarIndice(i)].unidades" disabled type="text" ngModel [name]="'unidades' + [i]" class="form-control mt-2">
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <!--BOTONES DE FUNCIONES REINGRESO-->
            <div class="form-footer-style">
              <div class="modal-footer">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" (click)="agregarItem()">
                    <fa-icon [icon]="faPlusCircle"></fa-icon> Más Items
                  </button>
                  <button type="button" [hidden]="idsReingreso.length == 1" class="btn btn-secondary" [disabled]="idsReingreso.length == 1" (click)="restarItem()">
                    <fa-icon [icon]="faMinusCircle"></fa-icon> Menos Items
                  </button>
                </div>
                  <button type="button" class="btn btn-secondary" (click)="borrarForm()">
                    <fa-icon [icon]="faTimesCircle"></fa-icon> Cerrar
                  </button>
                  <button [disabled]='!valido || !f.valid' type="button" class="btn btn-info text-white" (click)="reingresarItems()">
                    <fa-icon [icon]="faSignInAlt"></fa-icon> Ingresar
                  </button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
