/*HEADER DE FORMS*/
.header-color-reportar{
    background: linear-gradient(90deg, #be3b24, #f0cd5d );
}
.header-color-agregar{
    background: linear-gradient(90deg, #314de9, #3ca4d4 );
}

.margin-top-form-reporte{
    margin-top: 20px;
}
